body {
  font-family: Poppins, Arial, sans-serif;
  background-color: hsl(0, 0%, 10%);
}

.to-do-list {
  text-align: center;
  position: relative;
}

.to-do-list-item-container {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 64px;
  color: white;
}

button {
  font-size: 20px;
  height: 45px;
  width: 45px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  /* margin-right: px; */
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.logo {
  text-decoration: none;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.add-button:hover {
  background-color: hsl(125, 47%, 47%);
}

.delete-button {
  background-color: hsl(0, 0%, 97%);
  border: 1px solid rgb(150, 150, 150);
}

.delete-button:hover {
  background-color: hsl(0, 0%, 90%);
}

.edit-button {
  background-color: hsl(0, 0%, 97%);
  border: 1px solid rgb(150, 150, 150);
}

.edit-button:hover {
  background-color: hsl(0, 0%, 90%);
}

.check-item-button {
  background-color: hsl(0, 0%, 97%);
}

.check-item-button:hover {
  background-color: hsl(0, 0%, 90%);
}

input {
  font-family: Poppins, Arial, sans-serif;
  font-size: 25px;
  height: 30px;
  padding: 10px 15px;

  /* border: 2px solid hsla(0, 0%, 80%, 0.5); */
  border: none;
  border-radius: 5px;
  /* color: hsla(0, 0%, 0%, 0.5); */
}

ol {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

li {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: rgb(247, 247, 247);
  margin-bottom: 15px;
  /* border: 3px solid hsla(0, 0%, 85%, 0.75); */
  border: none;
  border-radius: 5px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  width: 650px;
}

@media (max-width: 367px) and (min-width: 306px) {

  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 50px;
  }

  .task-input-container input {
    width: 200px;
    font-size: 18px;
    /* background-color: red; */
  }

  li {
    width: 205px;
  }

  .to-do-list .new-task-extra-info {
    /* background-color: red; */
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 411px) and (min-width: 368px) {
  body {
    overflow-x: hidden;
  }

  .task-input-container input {
    width: 250px;
    font-size: 18px;
    /* background-color: red; */
  }

  li {
    width: 275px;
  }

  .to-do-list .new-task-extra-info {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .new-task-extra-info .add-quantity {
    /* font-size: 10px; */
    /* font-weight: bold; */
    /* color: cyan; */
  }
}

@media (max-width: 496px) and (min-width: 412px) {

  li {
    width: 300px;
  }
}

@media (max-width: 597px) and (min-width: 497px) {

  li {
    width: 400px;
  }
}

@media (max-width: 747px) and (min-width: 598px) {

  li {
    width: 500px;
  }
}

.extra-info-container {
  /* padding: 10px 35px 20px 35px; */
  background-color: transparent;
  /* margin-top: -15px; */
  /* margin-bottom: 10px; */
  /* border: 3px solid hsla(0, 0%, 85%, 0.75); */
  border: none;
  display: block;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* max-width: 750px; */
}

.description-box {
  display: block;
  /* width: 100%; */
  text-align: left;
  padding: 10px 20px;
  background-color: rgb(255, 239, 135);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px;
  cursor: text;
  margin-top: 10px;
}

.description-text {
  font-size: 20px;
  font-weight: normal;
  color: rgb(96, 85, 21);
}

.crossed {
  background-color: rgb(200, 200, 200);
}

.text {
  flex: 1;
  text-align: left;
}

.text.crossed {
  color: rgb(150, 150, 150);
  text-decoration: line-through;
}

.quantity-text.crossed {
  color: rgb(150, 150, 150);
  text-decoration: line-through;
}

.check-item-button.crossed:hover {
  background-color: rgb(176, 176, 176);
}

.read-button .edit-button {
  padding: 8px 12px;
  /* margin-left: 10px; */
}

.check-item-button {
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.input-field {
  /* width: 600px; */
  background-color: rgb(247, 247, 247);
  border: 1px solid black;
}

.input-field.quantity {
  height: 14px;
  width: 30px;
  padding: 10px;
  font-size: 18px;
}

.input-field.title {
  flex: 1;
  height: 21px;
  font-size: 18px;
}

.input-field.description {
  font-size: 18px;
  padding: 5px 10px;
  height: 50px;
  width: 100%;
  font-family: Poppins, Arial, sans-serif;
  border-radius: 5px;
}

.task-input-container {
  display: inline-block;
  margin-bottom: 10px;
}

.quantity-label {
  font-weight: normal;
  font-size: 20px;
}

.description-container {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quantity-container {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.cancel-button {
  background-color: hsl(0, 100%, 62%);
}

.cancel-button:hover {
  background-color: hsl(0, 73%, 55%);
}

.save-button {
  background-color: hsl(125, 47%, 54%);
}

.save-button:hover {
  background-color: hsl(125, 47%, 47%);
}

.serial-number {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: rgb(247, 247, 247);
  margin-right: 15px;
}

.quantity {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  /* padding: 10px 0; */
}

.edit-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-task {
  width: 100%;
}

.new-task-extra-info {
  width: 395px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-description,
.add-quantity {
  color: rgb(200, 200, 200);
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-field.description.new-task {
  margin-top: 10px;
  box-sizing: border-box;
  margin-top: 0;
  height: 70px;
  margin-bottom: 10px;
}

.quantity-label-new-task {
  color: rgb(200, 200, 200);
  margin-right: 10px;
}

.quantity-new-task {
  align-items: center;
  display: flex;
}